{{>header}}

<!--
  <h1><a href="{{path}}">{{pagetitle}}</a></h1>
-->

  {{#tickets}}
   <div id="{{_id}}" class="sheet prio_{{{prio}}} state_{{{state}}} parent_{{hierarchy}}" >
    {{>id_line}}
    <h{{hierarchy}}>{{title}}</h{{hierarchy}}>
    <div>
     <form class="key_line" >
     <input type="hidden" class="_id string" name="_id" value="{{_id}}" /><!-- TODO class vs name -->
      <input type="hidden" class="_rev string" name="_rev" value="{{{_rev}}}" />
      <input type="hidden" class="type string" name="type" value="{{{type}}}" />
      <input type="hidden" class="title string" name="title" value="{{{title}}}" />
      <input type="hidden" class="markdown string" name="markdown" value="{{{markdown}}}" />
      <input type="hidden" class="initdate string" name="initdate" value="{{{initdate}}}" />
      {{>key_line}}
      <button type="submit" >Safe</button>
     </form>
     <p class="description">{{markdown}}</p><!-- TODO markdown -->
     <span class="picknrun archive" rel="state" name="archive">✖ archive this</span>

     <span class="followup depot newsheet" >followup</span>
    </div>
   </div>
  {{/tickets}}  
{{>footer}}